.hint-panel{
    /*border: 1px solid black;*/
    width: 80px;
    height: 350px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    padding: 5px 0px;
    border-radius:15px;
    
    font-size: 30px;
    font-weight:1000;
    color: rgb(0, 0, 0);
    background-color: rgb(184, 184, 184);

    box-shadow: 2px 5px 5px rgba(0,0,0,0.8)/*blur间负15px*/ ;

}
.little-panel{

    background-color: rgb(162, 162, 162);
    padding-left: 2px;
    padding-top: 2px;

    width: 52px;
    height: 50px;

    border-radius:10px;

    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.8)/*blur间负15px*/ 
    
}