.blue-panel{
    /*border: 1px solid black;*/
    border-radius:25px;
    background-color: rgb(177, 177, 177);
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 25px;
    font-weight:bold;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px 4px rgba(134, 219, 255,0.5);
    /*text-shadow: 0 0 0.5em rgb(65, 184, 243);*/
}

.red-panel{
    /*border: 1px solid black;*/
    border-radius:25px;
    background-color: rgb(177, 177, 177);
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 25px;
    font-weight:bold;
    color: #ffffff;
    box-shadow: 0px 0px 4px 4px rgba(255, 68, 68, 0.5);
    /*text-shadow: 0 0 0.5em rgb(150, 47, 47);*/
}

.portrait{
    border: 1px solid black;
    border-radius:50px;

    width: 100px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}